<!DOCTYPE html>
<html lang="ua">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Згода з розсилкою</title>
    <link rel="icon" href="../images/logo.png" type="image/x-icon">
    <!-- link style file -->
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <section class="mailing">
        <div class="wrapper">
            <div class="mailing__text">
                <h1 class="mailing__title">Згода з розсилкою</h1>
                <span>
                    При заповненні форми нашого сайту Ви підтверджуєте вашу згоду з політикою конфіденційності нашої
                    Компанії. Крім того, Ви
                    підтверджуєте Вашу згоду на отримання нами права на обробку Ваших персональних даних при таких
                    обставинах:
                </span>

                <span>
                    - Для
                    компаній, які працюють від імені нашої Компанії: Ми можемо співпрацювати зі сторонніми компаніями,
                    які можуть виконувати
                    від нашого імені всі функції, що стосуються підтримки в бізнесі, в зв'язку з цим Вашу особисту
                    інформацію можуть
                    частково розкрити. Таким компаніям, ми висуваємо жорсткі вимоги, в яких йдеться про те, що вони
                    можуть використовувати
                    Ваші особисті дані лише з метою, які обмежуються поданням договірних послуг; передача цієї
                    інформації ними заборонена, в
                    разі, якщо ситуація не підпадає під договірні вимоги, а саме, не є необхідною для того, щоб надати
                    обумовлені послуги.
                    Функції підтримки бізнесів можуть полягати: у видачі виграшів і бонусних призів, в реалізації
                    поданих заявок, у
                    виконанні замовлень, в управлінні системами інформації, а також у проведенні інтерв'ювання наших
                    контрагентів. Також, ми
                    в обов'язковому порядку розкриваємо інформацію (яка є неперсоніфікованої), коли підбираємо собі
                    постачальників.
                </span>

                <span>
                    - Для
                    дочірніх і спільних підприємств: під такими підприємствами ми маємо на увазі організації, в яких
                    пайова участь, більш
                    ніж наполовину, належить нашій Компанії. Під час передачі Ваших даних партнерам по дочірнім, або ж
                    спільним
                    підприємствам, ми забороняємо нашим партнерам розголошувати Ваші особисті дані будь-яким сторонам з
                    метою маркетингу,
                    реклами, а також, ми забороняємо використовувати її будь-якими способами, які б суперечили Вашим
                    рішенням. У разі якщо
                    Ви відзначили, що не бажаєте, щоб на Ваше ім'я приходили якісь рекламні або маркетингові матеріали з
                    нашого боку, то
                    наша Компанія зобов'язується зберігати конфіденційність Вашої інформації, не передаючи її партнерам,
                    для подальшого
                    використання її в цілях маркетингу.
                </span>

                <span>
                    - Для сторінок, які є партнерськими або спільно позиціонуються: Наша Компанія має
                    право на передачу інформації своїм компаніям-партнерам, які спільно з нашою Компанією займається
                    реалізацією спеціальних
                    пропозицій і заходів, що стосуються просування певного товару на сторінках нашого ресурсу, які ми
                    позиціонуємо спільно з
                    даними партнерами. Якщо сторінка буде запитувати анкетні дані, то Вам в обов'язковому порядку прийде
                    попередження про
                    те, що інформація може бути передана. У свою чергу, наші партнери мають право використовувати
                    будь-яку інформацію, яку
                    Ви надасте, відповідно до власного повідомленням про конфіденційність, яке буде представлено Вам для
                    подальшого
                    ознайомлення, при наданні Вами особистої інформації.
                </span>

                <span>
                    - При процесі передачі над підприємством контролю: права на передачу
                    Ваших анкетних даних, у разі продажу (часткової або повної) або трансферу активів нашого
                    підприємства, або ж самого
                    підприємства, залишаються за нашою Компанією. При процесі передачі над підприємством контролю ви
                    отримаєте повідомлення
                    від нашої Компанії, яке свідчить, що Ви можете відмовити в передачі Вашої особистої інформації. В
                    окремих випадках, при
                    вашу відмову на передачу особистих даних, Ви втрачаєте, можливості на отримання послуг або ж
                    продуктів, які раніше вам
                    надавала наша компанія, від нової організації.
                </span>

                <span>
                    - Для правоохоронних органів: наша Компанія має право на розкриття Ваших
                    особистих даних без Вашої згоди третій стороні в таких цілях: щоб уникнути правопорушення, суднового
                    постанови або ж
                    нормативно-правового акта; для надання сприяння урядовим розслідуванням; для зміцнення або захисту
                    прав дочірніх
                    підприємств нашої Компанії або самої Компанії; а також для надання допомоги в запобіганні
                    шахрайства;
                </span>

                <span>
                    Ви можете в
                    будь-який час здійснити відмову від прийому наших листів, поширення яких здійснюється нашою
                    регулярної розсилкою.
                    Здійснити цю процедуру Вам допоможе спеціальне посилання, яку Ви можете побачити при закінченні
                    будь-якого нашого листа
                    або написати на нашу електронну пошту: polezen.od@gmail.com
                </span>
            </div>
        </div>
    </section>

    <!-- footer start -->
    <footer class="footer">
        <div class="wrapper">
            <div class="footer__text">
                <div class="footer__text-block">
                    <p class="footer__text-ua">ВАЖЛИВО: не вводьте контактну інформацію, доки не прочитаєте Політику
                        конфіденційності. Ми не даємо жодних гарантій, що ви досягнете таких самих результатів. Всі
                        матеріали компанії призначені для освітніх цілей. Жодна інформація на цьому сайті або будь-яких
                        інших сайтах компанії не гарантує та не обіцяє отримання стовідсоткових результатів. Ви несете
                        відповідальність за свої дії та результати. Реєструючись на даному сайті, ви знімаєте з нас
                        відповідальність за ваші дії та результати.
                    </p>
                    <a href="/">
                        <img src="../images/logo.png" alt="Pole Zen">
                    </a>
                </div>
                <div class="footer__text-descr">
                    <p class="footer__text-eng">IMPORTANT: Do not enter contact information until you have read the
                        Privacy
                        Policy. We do not guarantee that you will achieve the same results. All materials of the company
                        are
                        intended for educational purposes. The information on this site or any other site of the company
                        does not guarantee or promise to receive 100% results. You are responsible for your actions and
                        results. By registering on this site, you disclaim our responsibility for your actions and
                        results.
                    </p>
                    <div class="footer__text-descr_nav">
                        <div class="footer__text-descr_link">
                            <a href="./components/privacy.html">Політика конфіденціальності</a>
                            <a href="./components/mailing.html">Згода з розсилкою</a>
                            <a href="./components/offer.html">Договір оферти</a>
                        </div>
                        <div class="footer__text-descr_contact">
                            <span>ТОВ “ПОЛ ДЗЕН”</span>
                            <a href="mailto:polezen.od@gmail.com">polezen.od@gmail.com</a>
                        </div>
                        <div class="footer__text-descr_location">
                            <a href="#!">65007, Україна, Одеса, Приморський район, Старосінна площа, 3</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer end -->
</body>

</html>