<!DOCTYPE html>
<html lang="ua">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Публічна оферта</title>
    <link rel="icon" href="../assets/images/logo.png" type="image/x-icon">
    <!-- link style file -->
    <link rel="stylesheet" href="../style/style.css">
</head>

<body>
    <section class="offer">
        <div class="wrapper">
            <div class="offer__text">
                <h1 class="offer__title">ДОГОВІР ПУБЛІЧНОЇ ОФЕРТИ ПРО НАДАННЯ ПОСЛУГ В ШКОЛІ ПОВІТРЯНОЇ АКРОБАТИКИ ТА
                    ПОУЛ СПОРТУ "ПОЛ ДЗЕН"</h1>
                <span>
                    Справжня публічна оферта (далі за текстом – «Оферта») є офіційною пропозицією Виконавця укласти з
                    будь-якою фізичною особою, далі іменованою – «Замовник», договір надання послуг школи акробатики та
                    танців «ПОЛ ДЗЕН» (далі – Студі) на умовах, визначених у тексті Оферти.
                </span>

                <span>
                    Акцепт цієї Оферти здійснюється шляхом оплати Замовником абонементу на послуги Студії або разового
                    заняття.
                </span>

                <span>
                    Акцепт Оферти означає ознайомлення та повну, безумовну та беззастережну згоду Замовника з умовами та
                    вимогами, визначеними в Оферті. З моменту акцепту Оферти Договір надання послуг між Виконавцем та
                    Замовником визнається укладеним та узгодженим між ними, а його умови підлягають обов'язковому
                    виконанню Сторонами.
                </span>

                <span>
                    Укладаючи цей Договір, Замовник підтверджує, що він не має медичних протипоказань для занять
                    фізичною культурою та повністю бере на себе відповідальність за стан свого здоров'я.
                </span>

                <h4 class="offer__title">1. ТЕРМІНИ</h4>

                <span>
                    З метою цієї Оферти використовуються такі терміни та визначення:
                </span>

                <span>
                    Договір – договір між Замовником та Виконавцем на надання послуг з навчання танцям, розтяжці та
                    іншим напрямам спортивних послуг, який укладається шляхом акцепту Оферти.
                </span>

                <span>
                    Замовник – особа, яка здійснила акцепт Оферти для отримання послуг Студії.
                </span>

                <span>
                    Виконавець – Індивідуальний підприємець Стахова Христина Сергіївна, ІПН 43202889.
                </span>

                <span>
                    Абонемент – документ на паперовому носії або в електронному вигляді, що надає право фізичним особам
                    отримати послуги, які Студія надає в обсязі, сплаченому Замовником.
                </span>

                <span>
                    Сайт – офіційний сайт Виконавця http://______________
                </span>

                <h4 class="offer__title">2. ПРЕДМЕТ ОФЕРТИ</h4>

                <span>2.1. У рамках цієї Оферти Виконавець зобов'язується надавати Замовнику послуги відповідно до
                    обраного Замовником абонементу або оплаченого разового заняття за обраним Замовником
                    напрямом.</span>
                <span>2.2. Види та вартість абонементів вказано на Сайті Виконавця. Вартість абонементів може бути
                    змінена Виконавцем в односторонньому порядку з публікацією відповідних змін на Сайті та/або
                    соціальних мережах Студії. При цьому вартість придбаних Замовником абонементів не змінюється.</span>
                <span>2.3. Термін дії абонементів становить 30 (тридцять) календарних днів із моменту активації, тобто
                    відвідування першого заняття у рамках абонементу. Строк активації абонементу становить 14
                    (чотирнадцять) днів з моменту оплати. Термін заморозки Абонементів у зв'язку із хворобою чи
                    від'їздом – не більше 14 календарних днів на рік. Повернення коштів за куплені абоненемнти не
                    передбачається.</span>
                <span>2.4. Для відвідування заняття обов'язковий попередній запис на заняття через особистий кабінет
                    Замовника на Сайті або мобільний додаток. У разі неможливості використання для запису особистого
                    кабінету або мобільного додатка, Замовник має право здійснити запис по телефону Студії, з
                    використанням месенджерів чи інших засобів комунікації, а також особисто у адміністратора
                    Студії.</span>
                <span>2.5. Замовник не має права передавати Абонемент для відвідування занять Студії іншим
                    особам.</span>

                <h4 class="offer__title">3. ПРАВА ТА ОБОВ'ЯЗКИ СТОРІН</h4>

                <h4 class="offer__title">3.1. Обов'язки Виконавця</h4 class="offer__title">
                <span>3.1.1. Забезпечити проведення занять відповідно до обраного Замовника напряму.</span>
                <span>3.1.2. Затвердити розклад занять та забезпечити публікацію на Сайті та/або в соціальних мережах
                    Студії актуального розкладу.</span>
                <span>3.1.3. Забезпечувати необхідний на розсуд Виконавця реквізит, засоби та матеріали для проведення
                    занять.</span>
                <span>3.1.4. Консультувати Замовника з питань, пов'язаних із порядком надання послуг у рамках цієї
                    Оферти.</span>

                <h4 class="offer__title">3.2. Права Виконавця</h4>
                <span>3.2.1. Самостійно визначати викладацький склад, формувати навчальні групи, визначати перебіг
                    тренувального процесу.</span>
                <span>3.2.2. Давати Замовнику рекомендації щодо найефективнішої кількості тренувань (занять) певного
                    виду.</span>
                <span>3.2.3. На власний розсуд у разі потреби проводити заміну викладача на занятті або зміна тематики
                    заняття без зміни основної спрямованості курсу.</span>
                <span>3.2.4. Вносити зміну до розкладу занять з обов'язковою публікацією оновленого розкладу занять на
                    Сайті та/або сій мережах Студії не менше, ніж за 3 (Три) дні до набрання чинності відповідними
                    змінами.</span>
                <span>3.2.5. У разі неможливості проведення заняття з об'єктивних причин, визнаних такими Виконавцем,
                    скасувати проведення заняття з обов'язковим повідомленням Замовника не менше ніж за 3 (три) години
                    до заняття. У цьому випадку Виконавець повідомляє Замовника телефоном або повідомленням у
                    месенджері.</span>
                <span>3.2.6.Видалити Замовника із заняття у разі грубого порушення дисципліни, використання нецензурної
                    лексики на адресу викладача чи інших клієнтів. При цьому заняття вважається проведеним та списується
                    з абонементу або підлягає оплаті як разове заняття.</span>
                <span>3.2.7. Проводити на території Студії відео- та фото-зйомку, матеріали якої Студія має право
                    розміщувати на Сайті Студії, у соціальних мережах, а також використовувати в інших рекламних
                    матеріалах Студії.</span>

                <h4 class="offer__title">3.3. Обов'язки Замовника</h4>
                <span>3.3.1. Виконувати вимоги викладача під час занять, у тому числі щодо забезпечення техніки
                    безпеки.</span>
                <span>3.3.2. Відвідувати заняття відповідно до встановленого розкладу та запису на заняття. Повідомляти
                    Виконавця про скасування запису на заняття не менше ніж за 3 (три) години до початку заняття. В
                    іншому випадку заняття вважається проведеним та списується з абонементу або підлягає оплаті як
                    разове заняття. Скасування запису здійснюється безпосередньо через звʼязок з Адміністрацією Студії
                    або Вашим тренером.</span>
                <span>3.3.3. Оплачувати послуги Виконавця відповідно до умов цієї Оферти.</span>
                <span>3.3.4. Негайно повідомляти адміністрацію Студії про наявність медичних протипоказань, якщо послуги
                    Студії можуть спричинити заподіяння шкоди життю та здоров'ю Замовника, а також протипоказання, які
                    можуть створити загрозу життю або здоров'ю інших клієнтів та персоналу Студії.</span>
                <span>3.3.5. Дбайливо ставитися до майна та інвентарю Студії, запобігати поломкам обладнання та
                    інвентарю. У разі псування майна та інвентарю Студії Замовник зобов'язаний компенсувати завдану
                    шкоду.</span>
                <span>3.3.6. Стежити за збереженням своїх речей. Студія не несе відповідальності за цінні речі, залишені
                    Замовником без нагляду у роздягальнях та інших приміщеннях Студії. Цінні речі Замовник має право
                    брати із собою у зал проведення занять.</span>
                <span>3.3.7. Ознайомитись з Правилами Студії, розміщеними на Сайті, та дотримуватись їх.</span>

                <h4 class="offer__title">3.4. Права Замовника</h4>
                <span>3.4.1. Отримувати від Виконавця повну інформацію щодо порядку, умов та вартості надання послуг
                    відповідно до цієї Оферти до моменту придбання абонементу або оплати разових занять.</span>
                <span>3.4.2. Відмовитися від послуг Виконавця у будь-який час із застосуванням фінансових наслідків,
                    передбачених розділом 4 цієї Оферти.</span>

                <h4 class="offer__title">4. РОЗРАХУНКИ МІЖ СТОРОНАМИ</h4>
                <span>
                    4.1. Оплата послуг Виконавця за цим Договором здійснюється шляхом придбання Замовником абонементу
                    або оплати разового заняття.
                </span>
                <span>
                    4.2. Ціна послуг Виконавця визначається діючими у Виконавця на момент
                    акцепту цієї Оферти цінами на абонементи та разові заняття, зазначеними на Сайті та/або соціальних
                    мережах Студії.
                </span>
                <span>
                    4.3. Купуючи абонемент на послуги Виконавця, Замовник погоджується з умовами дії
                    відповідного абонементу, зокрема: з кількістю занять та строком дії абонементу.
                </span>

                <h4 class="offer__title">5. ПОРЯДОК НАДАННЯ ПОСЛУГ</h4>
                <span>
                    5.1. Методика проведення заняття в рамках обраного Замовником напряму
                    визначається Виконавцем та призначеним ним викладачем на власний розсуд виходячи з міркувань
                    максимальної ефективності та результативності заняття.
                </span>
                <span>
                    5.2. У разі запізнення Замовника на заняття без
                    попередження більш ніж на 10 (Десять) хвилин Виконавець має право не допустити Замовника на заняття,
                    при
                    цьому заняття вважається проведеним та списується з абонементу або підлягає оплаті як разове
                    заняття.
                </span>

                <h4 class="offer__title">6. ВІДПОВІДАЛЬНІСТЬ СТОРІН</h4>
                <span>
                    6.1. У разі невиконання або неналежного виконання зобов'язань Сторони несуть
                    відповідальність, передбачену чинним законодавством України.
                </span>
                <span>
                    6.2. У разі несплати Замовником послуг,
                    Виконавець може призупинити надання послуг Замовнику.
                </span>
                <span>
                    6.3. Студія не несе відповідальності за шкоду,
                    заподіяну життю та здоров'ю Замовника у випадках неналежного виконання ним зобов'язань за цим
                    Договором,
                    порушень вимог викладача та правил техніки безпеки, про які Замовник був поінформований викладачем
                    або
                    адміністрацією Студії.
                </span>
                <span>
                    6.4. Сторони звільняються від відповідальності за порушення умов цієї Оферти,
                    якщо таке порушення спричинене дією форс-мажорних обставин (обставин непереборної сили). Сторони
                    домовилися, що такими діями, зокрема, є дії органів державної влади, місцевого самоврядування,
                    пожежа,
                    повінь, землетрус, інші стихійні дії, відсутність електроенергії та/або збої роботи комп'ютерної
                    мережі,
                    страйки, заворушення. У разі виникнення форс-мажорних обставин, встановлені терміни надання послуг
                    переносяться на строк, протягом якого діють обставини, що виникли.
                </span>
                <span>
                    6.5. У разі, якщо надання послуг
                    Виконавцем є неможливим через запровадження режиму підвищеної готовності або інших
                    протиепідеміологічних
                    обмежень за рішенням органів державної влади, Виконавець має право на свій розсуд перенести
                    проведення
                    занять в онлайн-формат або продовжити термін дії абонементів відповідно до терміну дії зазначених
                    обмежень.
                </span>
                <span>
                    6.6. Студія не несе відповідальність перед Замовником у разі, якщо Абонемент або інші
                    послуги/товари було сплачено через третю особу. Студія несе відповідальність перед замовником з
                    фінансової сторони тільки в тому випадку, якщо Замовник проводить всі фінансові операції
                    безпосередньо
                    зі Студією (Стійка Адміністрації, розрахункові реквізити студії). Студія не несе відповідальності за
                    сплату або домовленності напряму з тренерами за рамками студії.
                </span>
                <span>
                    6.7. Купуючи Абонемент Замовник
                    зобовʼязаний предʼявити діючий Спортивний Страховий Полюс або відкрити його в Студії разом з
                    купівлею
                    абонементу
                </span>


                <h4 class="offer__title">7. ЗАХИСТ ПЕРСОНАЛЬНИХ ДАНИХ</h4>
                <span>
                    7.1. Акцептуючи умови цієї Оферти, Замовник дає згоду Виконавцю на обробку
                    (тобто збір, систематизацію, накопичення, зберігання, уточнення, використання, передачу,
                    знеособлення,
                    блокування, знищення) своїх персональних даних відповідно до Закону України «Про захист персональних
                    даних» та цієї Оферта, а також дає свою згоду на отримання інформаційних та рекламних повідомлень
                    від
                    Виконавця.
                </span>
                <span>
                    7.2. Перелік персональних даних, що обробляються:
                </span>
                <span>ПІБ;</span>
                <span>Дата народження;</span>
                <span>номер телефону;</span>
                <span>Адреса електронної пошти;</span>
                <span>інші дані, надані Замовником для надання послуг Виконавцем.</span>
                <span>
                    7.3. Мета обробки
                    персональних даних: надання послуг відповідно до цієї Оферти, у тому числі підтримання оперативного
                    зв'язку із Замовником, забезпечення зручності отримання послуг, організація процедури оплати послуг,
                    інформування Замовника про послуги та продукти Виконавця, які можуть представляти для нього
                    інтерес.
                </span>
                <span>
                    7.4.
                    Згода Замовника на опрацювання його персональних даних діє безстроково. Згода Замовника може бути
                    відкликана будь-якої миті шляхом подання заяви на адресу Виконавця.
                </span>


                <h4 class="offer__title">8. ГАРАНТІЇ І ЗАВІРЕННЯ</h4>

                <span>
                    8.1. Погоджуючись з умовами та приймаючи умови цієї Оферти шляхом акцепту
                    Оферти, Замовник запевняє Виконавця та гарантує, що Замовник:
                </span>
                <span>а) повністю ознайомився із умовами Оферти.</span>
                <span>б) повністю розуміє предмет Оферти та значення та наслідки своїх дій щодо укладання та виконання
                    Оферти.</span>
                <span>в) не має медичних протипоказань до занять з обраного напрямку.</span>
                <span>
                    8.2. Замовник та Виконавець висловлюють
                    спільне прагнення до підтримки поважної та доброзичливої атмосфери під час проведення занять.
                    Використання нецензурної лексики, вияв неповаги та образи на адресу Виконавця, викладачів та
                    працівників
                    Студії чи інших клієнтів не допускається.
                </span>

                <h4 class="offer__title">9. ДІЯ ПУБЛІЧНОЇ ОФЕРТИ</h4>
                <span>
                    9.1. Ця Оферта набирає чинності з моменту її розміщення на Сайті та/або
                    соціальних мережах Студії. Примірник Оферти у паперовому вигляді зберігається у Студії.
                </span>
                <span>
                    9.2. Ця Оферта
                    розміщена на невизначений термін і втрачає чинність при її скасуванні Виконавцем.
                </span>
                <span>
                    9.3. У разі внесення
                    змін до Оферти такі зміни набирають чинності з моменту опублікування нової редакції Оферти, якщо
                    інший
                    термін набрання чинності не визначений додатково при їх публікації. Виконавець має право в
                    односторонньому порядку здійснювати внесення змін до тексту Оферти.
                </span>
                <span>
                    9.4. Замовник зобов'язується
                    самостійно здійснювати контроль за змінами в положеннях цієї Оферти та відповідати за наслідки,
                    пов'язані з недотриманням цього обов'язку.
                </span>
                <span>
                    9.5. У разі незгоди Замовника з відповідними змінами Замовник
                    зобов'язаний відмовитися від послуг Виконавця. В іншому випадку продовження отримання послуг
                    Виконавця
                    означає, що Замовник погоджується з умовами Оферти у новій редакції.
                </span>

                <h4 class="offer__title">10. РЕКВІЗИТИ ВИКОНАВЦЯ</h4>
                <span>Індивідуальний підприємець Стахова Христина Сергіївна,</span>
                <span>
                    Адреса: Україна, Одеса,
                    Приморський район, вул. Базарна 2Б
                </span>
                <span>ІПН 43202889</span>
                <span>
                    ТОВ "ПОЛ ДЗЕН" 65007, Україна, Одеса, Приморський район,
                    Старосінна площа, 3
                </span>
                <span>Тел: +38 (063) 366-79-09</span>
            </div>
        </div>
    </section>

    <!-- footer start -->
    <footer class="footer">
        <div class="wrapper">
            <div class="footer__text">
                <div class="footer__text-block">
                    <p class="footer__text-ua">ВАЖЛИВО: не вводьте контактну інформацію, доки не прочитаєте Політику
                        конфіденційності. Ми не даємо жодних гарантій, що ви досягнете таких самих результатів. Всі
                        матеріали компанії призначені для освітніх цілей. Жодна інформація на цьому сайті або будь-яких
                        інших сайтах компанії не гарантує та не обіцяє отримання стовідсоткових результатів. Ви несете
                        відповідальність за свої дії та результати. Реєструючись на даному сайті, ви знімаєте з нас
                        відповідальність за ваші дії та результати.
                    </p>
                    <a href="/">
                        <img src="../assets/images/logo.png" alt="Pole Zen">
                    </a>
                </div>
                <div class="footer__text-descr">
                    <p class="footer__text-eng">IMPORTANT: Do not enter contact information until you have read the
                        Privacy
                        Policy. We do not guarantee that you will achieve the same results. All materials of the company
                        are
                        intended for educational purposes. The information on this site or any other site of the company
                        does not guarantee or promise to receive 100% results. You are responsible for your actions and
                        results. By registering on this site, you disclaim our responsibility for your actions and
                        results.
                    </p>
                    <div class="footer__text-descr_nav">
                        <div class="footer__text-descr_link">
                            <a href="./components/privacy.html">Політика конфіденціальності</a>
                            <a href="./components/mailing.html">Згода з розсилкою</a>
                            <a href="./components/offer.html">Договір оферти</a>
                        </div>
                        <div class="footer__text-descr_contact">
                            <span>ТОВ “ПОЛ ДЗЕН”</span>
                            <a href="mailto:polezen.od@gmail.com">polezen.od@gmail.com</a>
                        </div>
                        <div class="footer__text-descr_location">
                            <a href="#!">65007, Україна, Одеса, Приморський район, Старосінна площа, 3</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer end -->
</body>

</html>