<!DOCTYPE html>
<html lang="ua">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Політика конфіденційності</title>
    <link rel="icon" href="../images/logo.png" type="image/x-icon">
    <!-- link style file -->
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <section class="privacy">
        <div class="wrapper">
            <div class="privacy__text">
                <h1 class="privacy__title">Політика конфіденційності</h1>
                <span>
                    Конфіденційність відвідувачів нашого сайту є для нас пріоритетом і дуже важливою складовою. Ми
                    прагнемо до
                    того, щоб ви при роботі з нашим сайтом ви отримували тільки позитивні емоції і максимум корисної
                    інформації,
                    використовуючи можливості мережі Інтернет.
                </span>

                <span>
                    Конфіденційна інформація користувачів, зазначена при введенні реєстраційних даних (а також в інших
                    випадках)
                    зазвичай використовується для підбору Продуктів або Послуг відповідно до ваших потреб. Будь-яка
                    особиста
                    інформація не може бути передана будь-яким чином третім особам, крім випадків і в частині зазначених
                    в
                    «Згоду з розсилкою».
                </span>

                <h3>На даному сайті може бути затребувана така інформація:</h3>

                <span>
                    Ім'я користувача та адресу електронної пошти, за згодою на розсилки, дана інформація може бути
                    використана
                    для відправки матеріалів і інформації запитаної вами розсилки на адресу зазначеного електронного
                    ящика.
                    Зазначені дані можуть бути передані третім особам, лише у випадках передбачених чинним
                    законодавством.
                </span>

                <span>
                    За допомогою Cookies та інформації про відвідувачів збираються дані про дії аудиторії сайту
                    https://pole_zen_school і субдоменов для оптимізації його роботи, розширення функцій і створення
                    більш
                    змістовного наповнення і послуг для гостей і користувачів сайту.
                </span>

                <span>
                    Якщо ви не хочете передавати Cookie на
                    сторонній сервер, то для цього необхідно просто перейти в налаштування свого браузера і блокувати
                    дані
                    файли, встановивши прапорець у відповідному віконці, також в налаштуваннях можна задати параметри
                    так
                    щоб система кожен раз повідомляла про їх відправку. Але в такому разі деякі можливості сайту можуть
                    стати
                    недоступними, або працювати неправильно.
                </span>

                <span>
                    Для забезпечення політики конфіденційності особистої інформації
                    нами використовуються і постійно оновлюються всілякі програми для надійного захисту затребуваної
                    інформації.
                    Наш інтернет-ресурс постійно стежить за розвитком міжнародних вимог для контролю над довіреними
                    даними,
                    отриманими в мережі Інтернет. Ми неухильно дотримуємося всіх світові стандарти в забезпеченні
                    збереження
                    інформації, постійно навчаємо наших співробітників, і проводимо суворий моніторинг над виконанням
                    всіх
                    інструкцій і норм, а також обов'язково доводимо до їх відомості Повідомлення про конфіденційність.
                </span>

                <span>
                    Однак,
                    для ще більших гарантій безпеки інформації, ви самі, крім застосованих нами заходів щодо її
                    забезпечення,
                    повинні брати активну участь в її збереження. Надані нами сервіси та сайти вже мають захист від
                    витоку
                    інформації, її незаконного використання або внесення будь-яких поправок до неї без вашої згоди.
                    Однак,
                    незважаючи на всі ці заходи, наш сайт не може гарантувати Вам 100% результат захисту ваших даних від
                    зломів
                    хакерами або шкідливими програмами.
                </span>

                <span>
                    При внесенні будь-яких змін або доповнень в політику конфіденційності,
                    вони будуть опубліковані на цій сторінці і, де Ви зможете з ними ознайомитися. Або в деяких
                    виняткових
                    випадках ці зміни будуть Вам спрямовані листом на адресу вашої поштової скриньки, зазначеного при
                    реєстрації.
                </span>
            </div>
        </div>
    </section>

    <!-- footer start -->
    <footer class="footer">
        <div class="wrapper">
            <div class="footer__text">
                <div class="footer__text-block">
                    <p class="footer__text-ua">ВАЖЛИВО: не вводьте контактну інформацію, доки не прочитаєте Політику
                        конфіденційності. Ми не даємо жодних гарантій, що ви досягнете таких самих результатів. Всі
                        матеріали компанії призначені для освітніх цілей. Жодна інформація на цьому сайті або будь-яких
                        інших сайтах компанії не гарантує та не обіцяє отримання стовідсоткових результатів. Ви несете
                        відповідальність за свої дії та результати. Реєструючись на даному сайті, ви знімаєте з нас
                        відповідальність за ваші дії та результати.
                    </p>
                    <a href="/">
                        <img src="../images/logo.png" alt="Pole Zen">
                    </a>
                </div>
                <div class="footer__text-descr">
                    <p class="footer__text-eng">IMPORTANT: Do not enter contact information until you have read the
                        Privacy
                        Policy. We do not guarantee that you will achieve the same results. All materials of the company
                        are
                        intended for educational purposes. The information on this site or any other site of the company
                        does not guarantee or promise to receive 100% results. You are responsible for your actions and
                        results. By registering on this site, you disclaim our responsibility for your actions and
                        results.
                    </p>
                    <div class="footer__text-descr_nav">
                        <div class="footer__text-descr_link">
                            <a href="./components/privacy.html">Політика конфіденціальності</a>
                            <a href="./components/mailing.html">Згода з розсилкою</a>
                            <a href="./components/offer.html">Договір оферти</a>
                        </div>
                        <div class="footer__text-descr_contact">
                            <span>ТОВ “ПОЛ ДЗЕН”</span>
                            <a href="mailto:polezen.od@gmail.com">polezen.od@gmail.com</a>
                        </div>
                        <div class="footer__text-descr_location">
                            <a href="#!">65007, Україна, Одеса, Приморський район, Старосінна площа, 3</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer end -->
</body>

</html>